/JavaApplication20/nbproject/private/
/NhapXuatCoban/nbproject/private/
/NhapXuatCoban/build/
/CauTrucDieuKhien/nbproject/private/
/CauTrucDieuKhien/build/
/Bt_20_01_2019/nbproject/private/
/Bt_20_01_2019/build/
/Buoi4/nbproject/private/
/Buoi4/build/